//index.scss
/* CSS */
//上から濃い色-カラーパレット
$Aiiro:#0d0627;
$bisky : #1e3a76;
$bayof : #2b4b88;
$kashmir : #4d6a93;
$shipcove : #7999b9;
$botticelli : #c5d9e2;

html,body{
	background: $Aiiro;
	color: $botticelli;
}
a{
	color: $shipcove;
}
a:hover{
	color: $botticelli;
}
//allcontainer
#allcontainer{
	//background: $Aiiro;
	width: 100%;
	height: 100%;
    display: grid;
    grid-template-columns: auto;
	#top-menu{
		width: 100%;
		height: 10%;
		display: grid;
		justify-content: left;
		align-items: self-start;
			p{
				color:$kashmir;
			}
			.logo-icon{
				height: 50px;
				display: grid;
				align-items: center;
				grid-auto-flow: column;
				justify-items: center;
			}
		}
	}
	#kikaku-box{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: auto 150px;
	}
	#kikaku-ichiran{
		    width: 300px;
			//display: grid;
			grid-template-rows: 80% 20%;
			background: $bayof;
			margin: 10px;
			padding: 10px;
			border-radius: 10px;
		

		.kikaku-ichiran-item{
			height: 50px;
			background: rgb(85, 75, 116);
			border-radius: 5px;
			padding: 10px;
			margin-bottom: 10px;
			.kikaku-ichiran-item-text{
				font-size: 16px;
			}
			.kikaku-ichiran-item-path{
				font-size: 10px;
			}
		}
	}
	#edit-buttons{
		width: 100px;
		height: 50px;
		display: grid;
		grid-template-rows: auto;
		margin: 10px;
		#create-new-project{
			color: $shipcove;
		}
		#open-existing-project{
			color: $shipcove;
		}
	}

